@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
    background-image: url(https://subtlepatterns.com/patterns/gplaypattern.png);
    background-position: center center;
    font-family: 'Open Sans', sans-serif;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.display .display-item {
    flex-grow: 1;
    padding: 15px;
}

.business-card {
    width: 420px;
    height: 230px;
    max-width: 100%;
    border-radius: 4px;
    margin: 0 auto;
}

.business-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #fff 0%, #fff 50%, rgba(0, 200, 200, 0.4) 50.5%, rgba(0, 200, 200, 0.6) 100%);
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.business-card .profile {
    display: flex;
    flex-basis: 150px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
}

.business-card .profile .profile-title {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.business-card .profile .profile-title h2 {
    font-size: 1.4em;
}

.business-card .info {
    display: flex;
    flex-grow: 1;
}

.business-card .info .info-contact {
    padding: 15px;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-around;
}

.business-card .info .info-contact a {
    color: rgba(0, 0, 0, 0.8);
}

.business-card .info .info-contact i {
    font-size: 1.2em;
    width: 25px;
}

.business-card .info .info-bio {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
}

.business-card:hover .card-hover {
    display: block;
}

.business-card:hover {
    background: none;
    background-color: rgb(141 141 141);
}

.card-hover {
    display: none;
}

.required::after {
    content: '*';
    color: red;
    font-weight: bolder;
}

small {
    color: red;
    font-weight: bolder;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 4px solid #4665ff;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
    top: 50%;
    left: 50%;
    position: fixed;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.required::after {
    content: '*';
    color: red;
}
